body {
    background-image: url(shein.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

h1 {
    background-color: rgb(224, 220, 209);
    text-align: center;
    margin-top: 0px;
    padding: 15px;
}

h2 {
    background-color: rgb(158, 126, 53);
    text-align: center;
    margin: 0px;
    padding: 15px;
    font-size: 20px;
}

ul {
    background-color: rgb(158, 126, 53);
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    cursor: pointer;
}

li {
    background-color: rgb(158, 126, 53) ;
    color: rgb(68, 54, 19);
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 200px;
    font-size: 20px;
}

li:hover {
    background-color: rgb(176, 144, 70);
    color: rgb(227, 210, 169);
}

li>ul {
    margin-top: 10px;
    display: none;
}

li:hover>ul {
    display: block;
    position: absolute;
}

li>ul>li {
    display: block;
}

li>ul>li {
    border: none;
    width: 165px;
    text-align: center;
    padding-top: 50px;

}

div {
    text-align: center;
    background-color: white;
    width: 1000px;
    height: 300px;
}